<!DOCTYPE html>


<!-- Extension del Archivo-->
<html lang="en">

<!-- en cabezado -->
<head>

    <!-- metadatos  -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- enlace de los iconos con la fuentes de google  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

   

    <!-- enlace para la hoja de los estilos en CSS -->

    <link rel="stylesheet" href="../css/Estilos.CSS">

    <link rel="stylesheet" href="../css/EstilosResposiveMediaquery.css">

    <link rel="stylesheet" href="../css/EstilosServicios.css">



   

    <!-- NOMBRE DE LA PESTAÑA DE LA PAGINA -->
    <title>Tienda Don Jose</title>
</head>

<!-- el cuerpo de la pagina  -->

<body>





     <!-- Maquetación =  Esqueleto  -->

    <!-- Encabezado  -->
    <header> 

   <!-- etiqueta div caja -->
                  
        <div class="menu-principal"> <!-- Div PADRE  -->

             <!-- hijo 1 el logo o la imagen -->

             <div class="logo" >
                <!-- agregar una imagen Logo de la empresa  -->
                <img src="../img/Logo2.png" alt="">
             </div>

            <!-- hijo 2 lista de opciones -->
            <div class="menu-bar" id="menubar">

                <!-- hijo1 enlace  del menu-bar -->
                <!-- nav para el menu de opciones  -->
                <nav class="enlaces">

                    <!-- lista UL -->
                    <ul>    
                                <!-- Etiqueta a es igual a un enlace -->
                        <li> <a href="">Clientes</a> </li>
                        <li> <a href="">Factura</a> </li>
                        <li> <a href="">Productos</a> </li>                        
                    </ul>
                </nav>


               
                <!-- hijo 2 Redes Sociales del menu bar  -->
                <div class="sociales">
                         <!-- Clase de los materiales de iconos  -->
                    <a href=""> <span class="material-icons">whatsapp</span> </a>
                    <a href=""> <span class="material-icons">facebook</span> </a>
                    <a href=""> <span class="material-icons">telegram</span> </a>
                    <a href=""> <span class="material-icons">pix</span> </a>
                    <a href=""> <span class="material-icons">duo</span> </a>

                </div>


            </div>

            <!-- hijo 3 del menu bar -->
            <i class="material-icons" id="btnMenuOpen" value="true">menu</i>
     



        </div>

    </header>
    


    <!-- Menu de los Servicios -->

            <!-- LLave ID -->
    <section id="menu-servicios">

        <div class="Contenedor-principal">


            <!-- botón del slider de la izquierda -->

            <button id="btn-izquierda"><span class="material-icons">double_arrow</span></button>

            <!-- los servicios en pantalla -->
            <div class="slider">


                <!-- Contenedor servicio 1 -->
                <div class="container-servicios">

                    <div class="descripcion-servicios">
                        <!-- Descripción del servicio -->

                        <h2>Servicio<b>Cárnicos</b></h2>
                        <h1>Tienda Don Jose</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione, ab dolorem. Cumque sint dolore magni iste deserunt non nesciunt quia modi explicabo saepe! Doloremque distinctio debitis, natus laborum consequuntur vel.</p>


                        <!-- botón de compras  -->

                        <button class="btn">!Compra Aquí! <span class="material-icons">label_important</span></button>

                    </div>

                    <div class="imagen-servicios">
                        <img src="../img/Carnes.png" alt="">
                    </div>
                    
                    
       


                </div>


                <!-- Contenedor servicio 2 -->
                <div class="container-servicios">
                
                    <div class="descripcion-servicios">
                        <!-- Descripción del servicio -->
                
                        <h2>Servicio<b>Aseo</b></h2>
                        <h1>Tienda Don Jose</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione, ab dolorem. Cumque sint dolore magni iste
                            deserunt non nesciunt quia modi explicabo saepe! Doloremque distinctio debitis, natus laborum consequuntur
                            vel.</p>
                
                
                        <!-- botón de compras  -->
                
                        <button class="btn" >!Compra Aquí! <span class="material-icons">label_important</span></button>
                
                    </div>
                
                    <div class="imagen-servicios">
                        <img src="../img/Aseo.png" alt="">
                    </div>
                
                
                
                
                
                </div>


                <!-- Contenedor Servició 3 -->
                <div class="container-servicios">
                
                    <div class="descripcion-servicios">
                        <!-- Descripción del servicio -->
                
                        <h2>Servicio<b>Verduras</b></h2>
                        <h1>Tienda Don Jose</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione, ab dolorem. Cumque sint dolore magni iste
                            deserunt non nesciunt quia modi explicabo saepe! Doloremque distinctio debitis, natus laborum consequuntur
                            vel.</p>
                
                
                        <!-- botón de compras  -->
                
                        <button class="btn">!Compra Aquí! <span class="material-icons">label_important</span></button>
                
                    </div>
                
                    <div class="imagen-servicios">
                        <img src="../img/Verduras.png" alt="">
                    </div>
                
                
                
                
                
                </div>


            </div>

            <!-- botón del slider de la derecha -->
            <button id="btn-derecha"><span class="material-icons">double_arrow</span></button>

        </div>

    </section>


    <!-- Menu de los Servicios aplicando grid -->

    <section id="servicios">

        <div class="servicios-titulos">
            <h2 class="subtitulo">Las Mejores Ofertas</h2>
            <h1 class="titulos">La Economía Suena Mejor</h1>
        </div>

        <!-- Contenedores de las ofertas  -->

        <div class="servicios-ofertas">
            <!-- elemento 1 -->
            <div class="imagen-central">
                <img src="../img/Logo2.png" alt="">
            </div>
        </div>

        <!-- elemento 2 -->

        <div class="items Licuadora">
            <p><span class="material-icons">support_agent</span></p>
            <p class="titulo-item">Licuadora</p>
            <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora assumenda quis impedit, velit at ipsa, facilis corrupti perspiciatis.</p>
        </div>
        <!-- elemento 3 -->
        <div class="items Maiz">
            <p><span class="material-icons">support_agent</span></p>
            <p class="titulo-item">Licuadora</p>
            <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora assumenda quis impedit, velit
                at ipsa, facilis corrupti perspiciatis.</p>
        </div>
        <!-- elemento 4 -->
        <div class="items Carnes">
            <p><span class="material-icons">support_agent</span></p>
            <p class="titulo-item">Licuadora</p>
            <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora assumenda quis impedit, velit
                at ipsa, facilis corrupti perspiciatis.</p>
        </div>
        <!-- elemento 5 -->
        <div class="items Pescaderia">
            <p><span class="material-icons">support_agent</span></p>
            <p class="titulo-item">Licuadora</p>
            <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora assumenda quis impedit, velit
                at ipsa, facilis corrupti perspiciatis.</p>
        </div>
    </section>


  
    <script src="../js/App.js"></script>
</body>


</html>